/* Color variables */
:root {
  --light-gray: #f7f7f7;
  --white: #ffffff;
  --dark: #050505;
  --secondary-dark: #1a1a1a;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background-color: var(--white);
  font-family: "Roboto Flex", sans-serif;
}

h1,
h5,
h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  color: var(--white);
}
