/* Color variables */
:root {
  --light-gray: #cbcbcb;
  --white: #ffffff;
  --dark: #050505;
  --secondary-dark: #1a1a1a;
}

body {
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  color: var(--white);
}
